# Virtual Environment
/venv/
venv/

# Environment variables
.env

# Log files
/logs/
logs/

# Python cache
__pycache__/
*.pyc
/__pycache__/

# Pytest cache
.pytest_cache/

# IDE/Editor specific
.vscode/
.idea/